.card {
  position: relative;
  a {
    box-shadow: var(--shadow-m);
    border-radius: 8px 0 16px 0;
    overflow: hidden;
    display: block;
  }
  div {
    position: absolute;
    bottom: 12px;
    right: 12px;
    margin-left: 12px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid var(--color-border);
    box-shadow: var(--shadow-m);
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 16px 0 12px 0;
    padding: 0.25rem 0.25rem 0.25rem 0.75rem;
  }
  h3 {
    font-size: var(--font-size-m);
    font-weight: 400;
    line-height: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  span {
    font-weight: 600;
    background-color: var(--color-blue);
    color: var(--color-bg);
    border-radius: 0 0 8px 0;
    padding: 0.075rem 0.5rem;
    height: 100%;
    display: flex;
    align-items: center;
  }
  button {
    font-size: var(--font-size-l);
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    box-sizing: content-box;
    border-radius: 0.25rem;
    &.active {
      color: var(--color-red);
    }
  }
}
