body {
  font-family: "Inter Variable", sans-serif;
  font-size: var(--font-size-m);
}

h1 {
  font-size: var(--font-size-xxl);
}

h2 {
  font-size: var(--font-size-xl);
}

h3,
h4,
h5,
h6 {
  font-size: var(--font-size-l);
}
